<h2>Om this page you can sing up to BarberShop</h2>

<form action="visit" method="POST" role="form">

  <div class="mb-3">
    <label >Ваше имя? </label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваше имя">
  </div>

  <div class="mb-3">
    <label >Ваш телефон? </label>
    <input name="phone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш телефон">
  </div>

  <div class="mb-3">
    <label >Когда Вас ждать?</label>
    <input name="datetime" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите дату и время">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>